<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title></title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
  </head>

  <body>
    <div
      id="gsa"
      style="height: 800px; width: 900px; overflow: hidden; margin: 0200px auto"
      class="swiper-container"
    >
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img
            src="https://img.dyrs.cc/special/316/100/117316/img_96277_0_65.png!c"
            alt=""
          />
        </div>
        <div class="swiper-slide">
          <img
            src="https://img.dyrs.cc/special/316/100/117316/img_96277_0_73.png!c"
            alt=""
          />
        </div>
      </div>
    </div>

    <div class="mod">
      <div class="long-banner-wrapper">
        <img src="https://img.dyrs.cc/special/316/100/117316/bg-1.jpg!c" />
        <img src="https://img.dyrs.cc/special/316/100/117316/bg-2.jpg!c" />
        <img src="https://img.dyrs.cc/special/316/100/117316/bg-3.jpg!c" />
        <img src="https://img.dyrs.cc/special/316/100/117316/bg-4.jpg!c" />
        <img src="https://img.dyrs.cc/special/316/100/117316/bg-5.jpg!c" />
        <img src="https://img.dyrs.cc/special/316/100/117316/bg-6.jpg!c" />
        <img src="https://img.dyrs.cc/special/316/100/117316/bg-7.jpg!c" />
        <img src="https://img.dyrs.cc/special/316/100/117316/bg-8.jpg!c" />
        <img src="https://img.dyrs.cc/special/316/100/117316/bg-9.jpg!c" />
      </div>
      <div class="container-inner">
        <div class="header">
          <div class="wrapper-inner">
            <div class="group">
              <a target="_blank" href="/" class="tag">首页</a
              ><a target="_blank" href="/case" class="label">实景案例</a
              ><a target="_blank" href="/designer" class="word">设计师</a
              ><a target="_blank" href="/building" class="tag-1">热装楼盘</a
              ><a target="_blank" href="/construction" class="label-1"
                >在施工地</a
              ><span class="word-1">400-118-2713</span>
            </div>
            <img
              class="icon-telephone"
              src="https://img.dyrs.cc/special/316/100/117316/img_96277_0_129.png!c"
            />
          </div>
          <div class="wrapper-inner-1">
            <div class="horizontal-line"></div>
          </div>
        </div>
        <div class="body">
          <div class="entry-pic-wrapper">
            <div class="group-i0">
              <span class="num day-num1">2</span>
            </div>
            <div class="group-i1">
              <span class="num day-num2">0</span>
            </div>
          </div>
          <div class="entry-pic-wrapper">
            <div class="group-i0">
              <span class="num hour-num1">1</span>
            </div>
            <div class="group-i1">
              <span class="num hour-num2">8</span>
            </div>
          </div>
          <div class="entry-pic-wrapper">
            <div class="group-i0">
              <span class="num minute-num1">4</span>
            </div>
            <div class="group-i1">
              <span class="num minute-num2">5</span>
            </div>
          </div>
          <div class="entry-pic-wrapper">
            <div class="group-i0">
              <span class="num second-num1">4</span>
            </div>
            <div class="group-i1">
              <span class="num second-num2">3</span>
            </div>
          </div>
        </div>
        <div style="position: relative; margin-top: 420px; align-self: center">
          <a href="#wrapper-i0">
            <img
              src="https://img.dyrs.cc/special/316/100/117316/img_96277_0_59.png!c"
            />
          </a>
          <a href="#submain">
            <img
              src="https://img.dyrs.cc/special/316/100/117316/img_96277_0_60.png!c"
            />
          </a>
          <a href="#wrapper">
            <img
              src="https://img.dyrs.cc/special/316/100/117316/img_96277_0_61.png!c"
            />
          </a>
          <a href="#wrapper-i1">
            <img
              src="https://img.dyrs.cc/special/316/100/117316/img_96277_0_62.png!c"
            />
          </a>
          <a href="#wrapper-inner-i0">
            <img
              src="https://img.dyrs.cc/special/316/100/117316/img_96277_0_63.png!c"
            />
          </a>
          <a href="#wrapper-inner-i1">
            <img
              src="https://img.dyrs.cc/special/316/100/117316/img_96277_0_64.png!c"
            />
          </a>
        </div>
        <div id="wrapper-i0" class="wrapper-i0">
          <img
            class="layer"
            src="https://img.dyrs.cc/special/316/100/117316/img_96277_0_65.png!c"
          /><img
            class="action-bg _special__animate_heart get-customers"
            src="https://img.dyrs.cc/special/316/100/117316/img_96277_0_66.png!c"
          /><img
            class="_special__animate_heart get-customers button-bg"
            src="https://img.dyrs.cc/special/316/100/117316/img_96277_0_67.png!c"
          /><img
            class="_special__animate_heart get-customers action-bg-1"
            src="https://img.dyrs.cc/special/316/100/117316/img_96277_0_67.png!c"
          /><img
            class="_special__animate_heart get-customers button-bg-1"
            src="https://img.dyrs.cc/special/316/100/117316/img_96277_0_67.png!c"
          /><img
            class="_special__animate_heart get-customers action-bg-2"
            src="https://img.dyrs.cc/special/316/100/117316/img_96277_0_67.png!c"
          /><img
            class="_special__animate_heart get-customers button-bg-2"
            src="https://img.dyrs.cc/special/316/100/117316/img_96277_0_67.png!c"
          /><img
            class="_special__animate_heart get-customers action-bg-3"
            src="https://img.dyrs.cc/special/316/100/117316/img_96277_0_67.png!c"
          />
        </div>
        <div id="submain" class="submain">
          <img
            class="layer-1"
            src="https://img.dyrs.cc/special/316/100/117316/img_96277_0_73.png!c"
          />
          <img
            class="action-bg-7 _special__animate_heart get-customers"
            src="https://img.dyrs.cc/special/316/100/117316/img_96277_0_74.png!c"
          /><img
            class="button-bg-7 _special__animate_heart"
            _special__on_meiqia=""
            src="https://img.dyrs.cc/special/316/100/117316/img_96277_0_75.png!c"
          /><img
            class="action-bg-8 _special__animate_heart"
            _special__on_meiqia=""
            src="https://img.dyrs.cc/special/316/100/117316/img_96277_0_75.png!c"
          /><img
            class="button-bg-8 _special__animate_heart"
            _special__on_meiqia=""
            src="https://img.dyrs.cc/special/316/100/117316/img_96277_0_75.png!c"
          /><img
            class="action-bg-9 _special__animate_heart"
            _special__on_meiqia=""
            src="https://img.dyrs.cc/special/316/100/117316/img_96277_0_75.png!c"
          />
          <div class="wrapper-inner-2">
            <img
              id="lottery-turntable"
              class="thumbnail"
              src="https://img.dyrs.cc/special/316/100/117316/img_96277_0_79.png!c"
            /><img
              id="luck-draw"
              class="picture"
              src="https://img.dyrs.cc/special/316/100/117316/img_96277_0_80.png!c"
            />
          </div>
        </div>
        <div id="wrapper" class="wrapper">
          <img
            class="background-1"
            src="https://img.dyrs.cc/special/316/100/117316/img_96277_0_81.png!c"
          />
          <a href="/case" target="_blank"
            ><img
              class="button-bg-9 _special__animate_heart"
              src="https://img.dyrs.cc/special/316/100/117316/img_96277_0_82.png!c"
            />
          </a>
          <a href="/designer" target="_blank"
            ><img
              class="action-bg-10 _special__animate_heart"
              src="https://img.dyrs.cc/special/316/100/117316/img_96277_0_83.png!c"
          /></a>
          <img
            class="button-bg-10 _special__animate_heart get-customers"
            src="https://img.dyrs.cc/special/316/100/117316/img_96277_0_84.png!c"
          /><img
            class="action-bg-11 _special__animate_heart get-customers"
            src="https://img.dyrs.cc/special/316/100/117316/img_96277_0_84.png!c"
          /><img
            class="button-bg-11 _special__animate_heart get-customers"
            src="https://img.dyrs.cc/special/316/100/117316/img_96277_0_84.png!c"
          /><img
            class="action-bg-12 _special__animate_heart get-customers"
            src="https://img.dyrs.cc/special/316/100/117316/img_96277_0_84.png!c"
          /><img
            class="button-bg-12 _special__animate_heart get-customers"
            src="https://img.dyrs.cc/special/316/100/117316/img_96277_0_84.png!c"
          /><img
            class="action-bg-13 _special__animate_heart get-customers"
            src="https://img.dyrs.cc/special/316/100/117316/img_96277_0_84.png!c"
          />
          <div
            style="
              position: absolute;
              top: 1153px;
              width: 1100px;
              overflow: hidden;
            "
          >
            <div
              id="designer-list"
              style="
                height: 100px;
                width: 900px;
                overflow: hidden;
                margin: 0 auto;
              "
              class="swiper-container"
            >
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <a
                    href="https://nj.dyrs.com.cn/designer/2994"
                    target="_blank"
                  >
                    <img
                      src="https://img.dyrs.cc/special/316/100/117316/1.png!c"
                    />
                  </a>
                </div>
                <div class="swiper-slide">
                  <a href="https://nj.dyrs.com.cn/designer/49" target="_blank">
                    <img
                      src="https://img.dyrs.cc/special/316/100/117316/2.png!c"
                    />
                  </a>
                </div>
                <div class="swiper-slide">
                  <a
                    href="https://nj.dyrs.com.cn/designer/100907"
                    target="_blank"
                  >
                    <img
                      src="https://img.dyrs.cc/special/316/100/117316/3.png!c"
                    />
                  </a>
                </div>
                <div class="swiper-slide">
                  <a
                    href="https://nj.dyrs.com.cn/designer/100762"
                    target="_blank"
                  >
                    <img
                      src="https://img.dyrs.cc/special/316/100/117316/4.png!c"
                    />
                  </a>
                </div>
                <div class="swiper-slide">
                  <a
                    href="https://nj.dyrs.com.cn/designer/101252"
                    target="_blank"
                  >
                    <img
                      src="https://img.dyrs.cc/special/316/100/117316/5.png!c"
                    />
                  </a>
                </div>
                <div class="swiper-slide">
                  <a href="https://nj.dyrs.com.cn/designer/78" target="_blank">
                    <img
                      src="https://img.dyrs.cc/special/316/100/117316/6.png!c"
                    />
                  </a>
                </div>
                <div class="swiper-slide">
                  <a
                    href="https://nj.dyrs.com.cn/designer/103241"
                    target="_blank"
                  >
                    <img
                      src="https://img.dyrs.cc/special/316/100/117316/7.png!c"
                    />
                  </a>
                </div>
                <div class="swiper-slide">
                  <a
                    href="https://nj.dyrs.com.cn/designer/1695"
                    target="_blank"
                  >
                    <img
                      src="https://img.dyrs.cc/special/316/100/117316/8.png!c"
                    />
                  </a>
                </div>
                <div class="swiper-slide">
                  <a href="https://nj.dyrs.com.cn/designer/85" target="_blank">
                    <img
                      src="https://img.dyrs.cc/special/316/100/117316/9.png!c"
                    />
                  </a>
                </div>
                <div class="swiper-slide">
                  <a href="https://nj.dyrs.com.cn/designer/951" target="_blank">
                    <img
                      src="https://img.dyrs.cc/special/316/100/117316/10.png!c"
                    />
                  </a>
                </div>
                <div class="swiper-slide">
                  <a href="https://nj.dyrs.com.cn/designer/51" target="_blank">
                    <img
                      src="https://img.dyrs.cc/special/316/100/117316/11.png!c"
                    />
                  </a>
                </div>
                <div class="swiper-slide">
                  <a
                    href="https://nj.dyrs.com.cn/designer/100135"
                    target="_blank"
                  >
                    <img
                      src="https://img.dyrs.cc/special/316/100/117316/12.png!c"
                    />
                  </a>
                </div>
                <div class="swiper-slide">
                  <a href="https://nj.dyrs.com.cn/designer/46" target="_blank">
                    <img
                      src="https://img.dyrs.cc/special/316/100/117316/13.png!c"
                    />
                  </a>
                </div>
              </div>
            </div>
            <img
              id="slide-left"
              style="cursor: pointer"
              class="image"
              src="https://img.dyrs.cc/special/316/100/117316/img_96277_0_90.png!c"
            />
            <img
              id="slide-right"
              style="cursor: pointer"
              class="figure"
              src="https://img.dyrs.cc/special/316/100/117316/img_96277_0_91.png!c"
            />
          </div>
        </div>

        <div id="wrapper-i1" class="wrapper-i1">
          <img
            class="background"
            src="https://img.dyrs.cc/special/316/100/117316/img_96277_0_100.png!c"
          /><img
            class="button-bg-3 _special__animate_heart"
            _special__on_meiqia
            src="https://img.dyrs.cc/special/316/100/117316/img_96277_0_101.png!c"
          /><img
            class="action-bg-4 _special__animate_heart get-customers"
            src="https://img.dyrs.cc/special/316/100/117316/img_96277_0_102.png!c"
          /><img
            class="button-bg-4 _special__animate_heart get-customers"
            src="https://img.dyrs.cc/special/316/100/117316/img_96277_0_102.png!c"
          /><img
            class="action-bg-5 _special__animate_heart get-customers"
            src="https://img.dyrs.cc/special/316/100/117316/img_96277_0_102.png!c"
          /><img
            class="button-bg-5 _special__animate_heart get-customers"
            src="https://img.dyrs.cc/special/316/100/117316/img_96277_0_102.png!c"
          /><img
            class="action-bg-6 _special__animate_heart get-customers"
            src="https://img.dyrs.cc/special/316/100/117316/img_96277_0_102.png!c"
          /><img
            class="button-bg-6 _special__animate_heart get-customers"
            src="https://img.dyrs.cc/special/316/100/117316/img_96277_0_102.png!c"
          />
        </div>
        <div id="wrapper-inner-i0" class="wrapper-inner-i0">
          <img
            class="layer-2"
            src="https://img.dyrs.cc/special/316/100/117316/img_96277_0_108.png!c"
          /><img
            class="button-bg-13 _special__animate_heart"
            _special__on_meiqia=""
            src="https://img.dyrs.cc/special/316/100/117316/img_96277_0_109.png!c"
          /><img
            class="action-bg-14 _special__animate_heart"
            _special__on_meiqia=""
            src="https://img.dyrs.cc/special/316/100/117316/img_96277_0_110.png!c"
          /><img
            class="button-bg-14 _special__animate_heart"
            _special__on_meiqia=""
            src="https://img.dyrs.cc/special/316/100/117316/img_96277_0_110.png!c"
          /><img
            class="action-bg-15 _special__animate_heart"
            _special__on_meiqia=""
            src="https://img.dyrs.cc/special/316/100/117316/img_96277_0_110.png!c"
          /><img
            class="button-bg-15 _special__animate_heart"
            _special__on_meiqia=""
            src="https://img.dyrs.cc/special/316/100/117316/img_96277_0_110.png!c"
          /><img
            class="action-bg-16 _special__animate_heart"
            _special__on_meiqia=""
            src="https://img.dyrs.cc/special/316/100/117316/img_96277_0_110.png!c"
          /><img
            class="button-bg-16 _special__animate_heart"
            _special__on_meiqia=""
            src="https://img.dyrs.cc/special/316/100/117316/img_96277_0_110.png!c"
          />
        </div>
        <div id="wrapper-inner-i1" class="wrapper-inner-i1">
          <img
            class="background-2"
            src="https://img.dyrs.cc/special/316/100/117316/img_96277_0_116.png!c"
          /><img
            class="action-bg-17 _special__animate_heart"
            _special__on_meiqia=""
            src="https://img.dyrs.cc/special/316/100/117316/img_96277_0_117.png!c"
          /><img
            class="button-bg-17 _special__animate_heart get-customers"
            src="https://img.dyrs.cc/special/316/100/117316/img_96277_0_118.png!c"
          /><img
            class="action-bg-18 _special__animate_heart get-customers"
            src="https://img.dyrs.cc/special/316/100/117316/img_96277_0_118.png!c"
          /><img
            class="button-bg-18 _special__animate_heart get-customers"
            src="https://img.dyrs.cc/special/316/100/117316/img_96277_0_118.png!c"
          /><img
            class="action-bg-19 _special__animate_heart get-customers"
            src="https://img.dyrs.cc/special/316/100/117316/img_96277_0_118.png!c"
          /><img
            class="button-bg-19 _special__animate_heart get-customers"
            src="https://img.dyrs.cc/special/316/100/117316/img_96277_0_118.png!c"
          /><img
            class="action-bg-20 _special__animate_heart get-customers"
            src="https://img.dyrs.cc/special/316/100/117316/img_96277_0_118.png!c"
          />
        </div>
        <div class="wrapper-1">
          <div
            style="
              display: flex;
              justify-content: space-around;
              width: 1495px;
              height: 552px;
              background-image: url(https://img.dyrs.cc/special/316/100/117316/bottom-bg.png!c);
              background-repeat: no-repeat;
              background-position: center;
            "
          >
            <div
              style="
                display: flex;
                justify-content: space-around;
                align-items: center;
                align-self: center;

                margin-top: 80px;
              "
            >
              <div
                style="
                  display: flex;
                  align-items: center;
                  flex-direction: row;
                  justify-content: center;
                  margin-right: 61px;
                  width: 410px;
                  flex-wrap: wrap;
                "
              >
                <img
                  class="entry-pic-7 _special__animate_heart get-customers"
                  src="https://img.dyrs.cc/special/316/100/117316/img_96277_0_124.png!c"
                /><img
                  class="entry-pic-8 _special__animate_heart get-customers"
                  src="https://img.dyrs.cc/special/316/100/117316/img_96277_0_125.png!c"
                />
                <img
                  class="entry-pic-9 _special__animate_heart get-customers"
                  src="https://img.dyrs.cc/special/316/100/117316/img_96277_0_126.png!c"
                /><img
                  class="entry-pic-10 _special__animate_heart get-customers"
                  src="https://img.dyrs.cc/special/316/100/117316/img_96277_0_127.png!c"
                />
              </div>
              <div _special__tag-name_form="">
                <div class="tag-wrapper">
                  <span class="tag-2" _special__tag-name_input="name"
                    >您怎么称呼：</span
                  >
                </div>
                <div class="info-wrapper">
                  <span class="info" _special__tag-name_input="phone"
                    >您的联系方式：</span
                  >
                </div>
                <img
                  class="bg _special__animate_heart"
                  _special__on_submit=""
                  src="https://img.dyrs.cc/special/316/100/117316/img_96277_0_128.png!c"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="dialog-wrap">
      <form autocomplete="off">
        <input type="text" name="name" placeholder="姓名" />
        <input type="text" name="phone" placeholder="电话" />
        <img
          src="https://img.dyrs.cc/special/316/100/117316/dialog-btn.png!c"
          class="_special__animate_heart"
          _special__on_submit=""
        />
        <div class="close"></div>
      </form>
    </div>
    <a href="#">
      <img
        src="https://img.dyrs.cc/special/316/100/117316/top.png!c"
        style="
          position: fixed;
          right: 50px;
          bottom: 100px;
          width: 100px;
          cursor: pointer;
        "
      />
    </a>
    <!-- <script src="https://jscss.dyrs.cc/jquery/jquery-1.12.4.min.js"></script> -->
    <!-- <script src="https://jscss.dyrs.cc/swiper2/idangerous.swiper.min.js"></script> -->
    <!-- <link rel="stylesheet" href="https://a.dyrs.cc/libs/swiper@8.0.7.min.css" /> -->
    <!-- <script src="https://a.dyrs.cc/libs/swiper@8.0.7.min.js"></script> -->
  </body>
</html>
