// 单行省略
%text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// 多行省略
@mixin moreline-ellipsis($line: 2) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
}
// 换行
%pre {
  white-space: pre-wrap;
  word-break: break-all;
}

// 清除浮动
%clearfix {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

@mixin ratio-image($url) {
  background-image: url($url);
  // 如果设备像素大于等于2，则用2倍图
  @media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) {
    background-image: url($url + '@2x');
  }
  // 如果设备像素大于等于3，则用3倍图
  @media (-webkit-min-device-pixel-ratio: 3), (-moz-min-device-pixel-ratio: 3) {
    background-image: url($url + '@3x');
  }
  // 如果设备像素大于等于2，则用2倍图
  @media (min-resolution: 2dppx) {
    background-image: url($url + '@2x');
  }
  @media (min-resolution: 3dppx) {
    background-image: url($url + '@3x');
  }
}
