<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8" />
  <title>
    <%= htmlWebpackPlugin.options.title %>
      <!-- <2%= htmlWebpackPlugin.tags.headTags %2> -->
  </title>
</head>

<body>
  <div>
    <input type="text" />
    <br />
    <input type="text" />
    <br />
    <button id="getB">bbb</button>
    <button>ccc</button>
    <!-- <img src="<%= require('@/assets/images/1.jpg') %>">
    <img src="<%= require('@/assets/images/2.jpg') %>">
    <img src="<%= require('@/assets/images/3.jpg') %>">
    <img src="<%= require('@/assets/images/4.jpg') %>"> -->
    <!-- <img src="<%= require('@/assets/images/bg_01.jpg') %>"> -->
    <!-- <img width="100" height="100" src="image100.png" srcset="image200.png 2x,image300.png 3x" /> -->

  </div>
  <!-- <2%= htmlWebpackPlugin.tags.bodyTags %2> -->
</body>

</html>